<div>
  <h1 class="font-bold text-4xl">Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>

  <div class="mb-4">
    <%= link_to 'Manage Events', events_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
  </div>

  <div id='calendar'></div>
  <!-- Модалка Flowbite -->
  <div id="event-modal" tabindex="-1" class="hidden fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-md max-h-full">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
          <h3 id="modal-title" class="text-xl font-semibold text-gray-900 dark:text-white"></h3>
          <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-hide="event-modal">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M10 9l5-5a1 1 0 111.414 1.414L11.414 10l5 5a1 1 0 01-1.414 1.414L10 11.414l-5 5A1 1 0 013.586 15L9 9.586 3.586 4A1 1 0 015 2.586L10 8.414l5-5A1 1 0 1116.414 5L11.414 10z" clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
        <div class="p-6 space-y-6">
          <p id="modal-description" class="text-base leading-relaxed text-gray-500 dark:text-gray-400"></p>
        </div>
      </div>
    </div>
  </div>
  <script>



      document.addEventListener('DOMContentLoaded', function() {
          var calendarEl = document.getElementById('calendar');

          var calendar = new FullCalendar.Calendar(calendarEl, {
              initialView: 'dayGridMonth',
              initialDate: '2025-04-07',
              headerToolbar: {
                  left: 'prev,next today',
                  center: 'title',
                  right: 'dayGridMonth,timeGridWeek,timeGridDay'
              },
              events: '<%= events_path(format: :json) %>',
              eventClick: function (info) {
                  // Обновим содержимое модалки
                  document.getElementById('modal-title').textContent = info.event.title;
                  document.getElementById('modal-description').textContent = info.event.extendedProps.description || 'Нет описания';

                  // Покажем модалку
                  const modal = new Modal(document.getElementById('event-modal'));
                  modal.show();
              }
          });

          calendar.render();
      });



  </script>
</div>
