<!-- Модалка Flowbite -->
<div id="event-modal" tabindex="-1" class="hidden fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto h-[calc(100%-1rem)] max-h-full" data-modal-target="event-modal">
  <div class="relative w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
        <h3 id="modal-title" class="text-xl font-semibold text-gray-900 dark:text-white"></h3>
        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-hide="event-modal">
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M10 9l5-5a1 1 0 111.414 1.414L11.414 10l5 5a1 1 0 01-1.414 1.414L10 11.414l-5 5A1 1 0 013.586 15L9 9.586 3.586 4A1 1 0 015 2.586L10 8.414l5-5A1 1 0 1116.414 5L11.414 10z" clip-rule="evenodd"></path>
          </svg>
        </button>
      </div>
      <div class="p-6 space-y-6">
        <p id="modal-description" class="text-base leading-relaxed text-gray-500 dark:text-gray-400"></p>
      </div>
    </div>
  </div>
</div>